body {
   font-family: 'Poppins', sans-serif; 
  background-color: #000000;
  color: #FFFFFF;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

}

.home-page-button {
  background-color: transparent;
  color: #1c7d5e;
  border: 2px solid #1c7d5e;
  border-radius: 0.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0rem 1rem;
  cursor: pointer;
}

.home-page-container {
  display: flex;
  flex-direction: row;
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
}

.details-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;


}

.brand-name {
  font-size: 2.25rem;
  font-weight: 800;
}

.aside-category {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.aside-category:hover {
  background-color: #1c7d5e;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.main-image {
  height: 18rem;
  width: 42rem;
  border-radius: 1rem;
}

.genre-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.genre-details {
  display: flex;
  flex-wrap: wrap;

}

.genre-name {
  font-size: 1.5rem;
  font-weight: 800;
}

.image-container {
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}

.card-container {
  margin-left: 2rem;
  padding: 0.5rem;
}

.explore-button {
  padding: 0.5rem;
  background-color: #1c7d5e;
  color: white;
  border-radius: 0.5rem
}

a {
  color: white;
  text-decoration: none;

}

.login-title {
  font-size: 2.25rem;
  font-weight: 800;
  margin-left:1rem;
}

.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  gap: 1.8rem;

}

.login-heading {
  color: #5bb68b;
  
  font-size: 2rem;
  font-weight: 800;
}

.login-subtitle {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #5bb68b;
  margin-left:1rem;


}
.input-email,.input-password
{
  width: 22%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.login-button
{
  color: white;
  background-color: #5bb68b;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor:pointer
}

.sign-in-button {
  color: white;
  background-color: #5bb68b;

  padding: 1rem 5rem;
  border-radius: 0.5rem;
}

.sign-up-button {
  color: #5bb68b;

  border: 2px solid #5bb68b;

  padding: 1rem 5rem;
  border-radius: 0.5rem;
  background-color: transparent;
}

#input-email,
#input-password,#first-name,#last-name {
  padding: 0.8rem;
  width: 25%;
  border-radius: 0.5rem;


}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.sign-in-button {
  width: 100%;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;

}

.sign-up-button {
  width: 100%
}

.sign-in-button:hover {
  cursor: pointer;
  background-color: #418967;
}

.sign-up-button:hover {
  cursor: pointer;
  color: #6fddaa;
  border: 2px solid #6fddaa;
}

.genre-button-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;

}

.genre-button {
  padding: 0.5rem 1.5rem;
  border: 1.5px solid #5bb68b;
  background-color: transparent;
  color: #5bb65b;
  border-radius: 3rem;
}

.explore-card {
  width: fit-content;
  padding: 1rem;

}

.card-image {
  height: 10rem;
  width: 15rem;
  border-radius: 0.8rem;

}

.card-action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
.like-watchlater-container
{
   display: flex;
   gap:1rem;
}
.like-icon
{
color: #6fddaa;
}
/*playlist login*/
.before-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  gap: 1rem;
}

.before-login-message {
  font-size: 2.25rem;
  font-weight: 800;
}

.go-to-login {
  background-color: #5bb65b;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 300;
}

.like-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 2rem;
}

.side-count-container {
  width: 15rem;
  height: 10rem;
  padding: 1rem;
  background-color: #1c7d5e;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 10rem;
}

.side-count-container-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.side-count-container-username {
  font-size: 2rem;
  font-weight: 600;

}

.like-container-card {
  width: 50rem;
  height: 7rem;
  padding: 0.5rem;
  border: 1px solid white;
}

.like-container-card-image {
  width: 12rem;
  height: 6rem;
  border-radius: 0.3rem;
  border: 1px solid white;
  margin: auto;
}

.like-container-card {
  display: flex;

  gap: 2rem;
}

.video-name-details {
  border: 1px solid white;
  width: 100%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.video-details {
  display: flex;
  flex-direction: row;
  ;
  justify-content: space-between;
}
.video-list-page
{
  display: grid;
  grid-template-columns: 180px 1fr;

}
.main-container
{
  display: flex;
  flex-wrap: wrap;
}
.like-container-content{
  display:flex;
  flex-direction:column;
  gap:1rem;
}
.no-login-content
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:1rem;
  height: 100vh;
}
.login-access
{
  font-size: 2rem;
  font-weight: 600;
}
.go-to-login-button
{
  background-color: #5bb65b;
  color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}